<div class="login">
    <br>
    <h3>LOGIN</h3>
    <br>
    <div class="container">
        <div class="row">
            <br>
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <label for="name" class="form-label">Name</label> <input type="text" class="form-control" id="name"
                    placeholder="name" value="" required>
                <br>
                <label for="password" class="form-label">Password</label> <input type="password" class="form-control"
                    id="password" placeholder="********" value="" required>
            </div>
            <div class="col-md-1"></div>
        </div>
        <br>
        <div class="botton">
            <a id="btn" class="btn btn-primary btn-lg" [routerLink]="['/book']" role="button">Submit</a>
            <br><br><br><br><br>
        </div>
    </div>
</div>