<br>
<body>
    <form>
    <div class="row">
        <table>
            <td>
            <tr name="left-rows-1">
                <td>
                <td>A</td>
                <td><input type="radio" value="1"></td>
                <td><input type="radio" value="2"></td>
                <td><input type="radio" value="3"></td>
                </tr>


                <tr name="left-rows-2">
                    <td>
                    <td>B</td>
                    <td><input type="radio" value="4"></td>
                    <td><input type="radio" value="5"></td>
                    <td><input type="radio" value="6"></td>
                </tr>
    
                <td>
                    <tr name="right-row-1">
                        <td>
                        <td><input type="radio" value="1"></td>
                        <td><input type="radio" value="2"></td>
                        <td><input type="radio" value="3"></td>
                    </tr>
    
                    <tr name="right-row-1">
                        <td>
                        <td><input type="radio" value="4"></td>
                        <td><input type="radio" value="5"></td>
                        <td><input type="radio" value="6"></td>
                    </tr>
    
                    <tr name="right-row-1">
                        <td>
                        <td><input type="radio" value="7"></td>
                        <td><input type="radio" value="8"></td>
                        <td><input type="radio" value="9"></td>
                    </tr>
    
                    <tr name="right-row-1">
                        <td>
                        <td><input type="radio" value="10"></td>
                        <td><input type="radio" value="11"></td>
                        <td><input type="radio" value="12"></td>
                    </tr>
    

        </table>
    </div>
    </form>
   
</body>
