<body>
    <div class="plane">
        <div class="select">
            <br><br><br><br><br><br><br><br>
            <h3>Please select a seat</h3>
        </div>
        <ol>
            <div class="first">
                <h6>Economy</h6>
                <li>
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="1" />
                            <label for="1">1A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="2" disabled />
                            <label for="2">1B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="3" />
                            <label for="3">1C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="4" />
                            <label for="4">1D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="5" disabled />
                            <label for="5">1E</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="6" />
                            <label for="6">1F</label>
                        </li>
                    </ol>
                </li>
                <li>
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="7" disabled/>
                            <label for="7">2A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="8" value="100"/>
                            <label for="8">2B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="9" />
                            <label for="9">2C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="10" disabled/>
                            <label for="10">2D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="11" />
                            <label for="11">2E</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="12" />
                            <label for="12">2F</label>
                        </li>
                    </ol>
                </li>
                <li>
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="13" />
                            <label for="13">3A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="14" />
                            <label for="14">3B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="15" />
                            <label for="15">3C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="16" disabled />
                            <label for="16">3D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="17" />
                            <label for="17">3E</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="18" />
                            <label for="18">3F</label>
                        </li>
                    </ol>
                </li>
                <li>
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="19" disabled/>
                            <label for="19">4A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="20" disabled/>
                            <label for="20">4B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="21" />
                            <label for="21">4C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="22" />
                            <label for="22">4D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="23" />
                            <label for="23">4E</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="24" disabled/>
                            <label for="24">4F</label>
                        </li>
                    </ol>
                </li>
                <li>
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="25" />
                            <label for="25">5A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="26" />
                            <label for="26">5B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="27" />
                            <label for="27">5C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="28" disabled/>
                            <label for="28">5D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="29" disabled />
                            <label for="29">5E</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="30" />
                            <label for="30">5F</label>
                        </li>
                    </ol>
                </li>
            </div>
            <div class="Business">
                <h6>First Class</h6>
                <li>
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="31" disabled/>
                            <label for="31">6A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="32" />
                            <label for="32">6B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="33" />
                            <label for="33">6C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="34"disabled />
                            <label for="34">6D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="35" disabled />
                            <label for="35">6E</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="36" />
                            <label for="36">6F</label>
                        </li>
                    </ol>
                </li>
                <li>
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="37" />
                            <label for="37">7A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="38" disabled/>
                            <label for="38">7B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="39" />
                            <label for="39">7C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="40" />
                            <label for="40">7D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="41" />
                            <label for="41">7E</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="42" />
                            <label for="42">7F</label>
                        </li>
                    </ol>
                </li>
            
           
                <li>
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="43" />
                            <label for="43">8A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="44" />
                            <label for="44">8B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="45" disabled/>
                            <label for="45">8C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="46"disabled />
                            <label for="46">8D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="47" />
                            <label for="47">8E</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="48" />
                            <label for="48">8F</label>
                        </li>
                    </ol>
                </li>
            </div>
            <div class="economy">
                <h6>Business Class</h6>
                <li>
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="49" disabled/>
                            <label for="49">9A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="50" />
                            <label for="50">9B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="51" />
                            <label for="51">9C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="52"disabled />
                            <label for="52">9D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="53" />
                            <label for="53">9E</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="54" />
                            <label for="54">9F</label>
                        </li>
                    </ol>
                </li>
                <li>
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="55" />
                            <label for="55">10A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="56" />
                            <label for="56">10B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="57" />
                            <label for="57">10C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="58" />
                            <label for="58">10D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="59" />
                            <label for="59">10E</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="60" disabled/>
                            <label for="60">10F</label>
                        </li>
                    </ol>
                </li>
            </div>
        </ol>
    </div>
    <div class="botton">
        <a id="btn" class="btn btn-primary btn-lg" role="button">Submit</a>
    </div>
</body>



<!-- <script>
     var x = document.getElementById("#8")
        console.log(x.value)
        document.write(x.value)
</script> -->